@model IEnumerable<EmployeeModel>

@{
    ViewData["Title"] = "All Employee";
}

<h2>All Employee</h2>
<a asp-action="AddEmployee" class="btn btn-sm btn-primary">Add Employee</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Date of birth</th>
            <th>Department</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
                <td>@r.Email</td>
                <td>@r.Dob.Value.ToShortDateString()</td>
                <td>@r.Department</td>
                <td>
                    <a asp-action="UpdateEmployee" class="btn btn-sm btn-primary" asp-route-id="@r.Id">
                       Edit
                    </a>
                </td>
                <td>
                    <form asp-action="DeleteEmployee" method="post">
                        <input type="hidden" value="@r.Id" name="EmployeeId" />
                        <button type="submit" class="btn btn-sm btn-primary">Delete</button>
                       
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>